body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background: #f8f8f8;
    color: #111;
    font-size: 16px;
    line-height: 1.6;
}

header, h2 {
    text-align: center;
}


.project {
    max-width: 1100px;
    margin: 2rem auto;
}

.project-image {
    width: 200px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem auto;
    max-width: 600px;
}

ul li {
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

ul li::before {
    content: "•";
    position: absolute;
    left: 0;
}

.project-card {
    max-width: 900px;
    margin: 2rem 1rem;
    padding: 1.8rem;
    border-radius: 12px;
    background: #ffffff;
}

.project-header {
    margin-bottom: 1rem;
}

.project-tags {
    font-size: 0.95rem;
    color: #555;
}

.project-image {
    display: block;
    margin: 1.5rem auto;
    max-width: 220px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

a {
    color: #333;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #999;
    transition: background 0.2s ease;
}

a:hover {
    color: #000;
}

a:hover::after {
    background: #000;
}

.project-media {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
}

.project-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


@media (min-width: 900px) {
    .project-card {
        display: block;
    }

    .project-media {
        align-self: center;
    }

    .project-header,
    .project-card p,
    .project-card ul {
        grid-column: 2;
    }
}

